body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    width: 20px;
    height: 20px;
    padding: 15px ;
}

.header{
    background-color: #1F2937;
    display: flex;
    color: white;
    justify-content: space-between;
    padding:16px 62px;
    

}

.nav{
    
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    
    
    
}

.right
{
    display: flex;
    align-items: center;
    gap: 16px;
}

.container{
    margin: 0;
    padding: 0;
    
}

.first{
    display: flex;
    background-color: #1F2937;
    color:white;
    
    height:400px

}

.text{
    display: flex;
    
    align-items: center;
    padding: 70px;
    width: 50%; 

}


.firstbutton{
    display: block;
    border:none;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    padding: 8px 22px;

}

.heading1{
    font-size: 28px;
    font-weight: bolder;
    
}

.firstimg{
    display: flex;
    height: 300px;
    width: 300px;
    
    align-content: center;
    padding: 32px;
}

.second{
    height: 350px;
}

.Cards{
    display: flex;
    justify-content: center;
    gap:32px;
    text-align: center;
    
   
}

.card{
    height: 190px;
    width: 190px;
    border: 1px solid lightblue;
    border-radius: 20px;
}

.third{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    height: 300px;
    align-items: center;
    
    
}

.quotes{
   
    font-size: 34px;
    margin: 400px;
    
    
    
}

.quote{
    font-style: italic;
    font-weight: lighter;
}

.fourth{
    display: flex;
    color: white;
    height:300px;
    justify-content: center;

}



.prompt{
    display: flex;
    background-color: #3882F6;
    width: 900px;
    border-radius: 18px;
    margin: 58px;
    height: 150px;
    
}


.text2{
    padding: 32px;
    align-self: center;

}

.ButtonContainer{
    display: flex;
    
    align-self: center;
    margin: 35px 120px;
    
}

.prompt-button{
    
    border:1px solid white;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    padding: 8px 22px;
}






.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
}





